.kategoriButton {
    margin : 30px 0 0 80px;
    text-align: left;
}

.kategori {
    padding: 10px;
    margin: 0 8px;
    color: white;
    background-color: #005A8D;
    border: 2px solid #005A8D;
    border-radius: 10px;
}

.kategori:hover {
    color: #005A8D;
    background-color: white;
}

@media screen and (max-width: 550px) {
	.kategoriButton {
        margin : 30px 0 0 20px;
    }
    
    .kategori {
        margin: 0 3px;
    }
}